// stylelint-disable value-keyword-case
$font__main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$fonts: ( 
    standard: (
        //Familly
            base: $font__main,
        //Weight
            regular: 400,
            bold: 600,
            black: 700,
        //Size
            h1: ihag_clamp(32,36,400,1000), // 40px
            h2: ihag_clamp(24,26,400,1200), // 24px
            h3: ihag_clamp(18,24,400,1200),
            baseline: ihag_clamp(16,22,400,1200), // 16px
            small: ihag_clamp(12,14,400,1200),
            body-mobile: 16px,
            body-desktop: 16px,
    ),
    title: ( 
        //Familly
            base: $font__main,
        //Weight
            regular: 500,
            bold: 700,
            black: 900,
        //Size
            h1: ihag_clamp(26,40,400,1200),
            h2: ihag_clamp(20,32,400,1200), //24px
            h3: ihag_clamp(18,24,400,1200),
            number: 100px,
            number-xl: 150px,
            number-small: 32px, 
    ),
);